.about {
    padding-top: 93px;
    padding-bottom: 115px;
}
.about__title {
    margin-bottom: 76px;
}
.about__text {
    margin-bottom: 45px;
}
.about__text--style {
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 1.66;
    color: #333333;
    text-align: justify;
}