.hero {
    padding-top: 93px;
    padding-bottom: 30px;
    min-height: 100vh;
    background: linear-gradient(to right, rgba(198, 108, 73, 0.3), rgba(198, 108, 73, 0.3)),
        url(../img/Hero.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-grow: 1;
}
.hero__container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 1200px) {
    .hero__container {
        padding-left: 5%;
        padding-right: 5%;
    }
}
@media screen and (max-width: 895px) {
    .hero {
        padding-top: 10%;
        padding-bottom: 1%;
    }
}
.logo-img {
    width: 116px;
    height: 29px;
}
@media screen and (max-width: 895px) {
    .logo-img {
        width: 230px;
        height: 60px;
    }
}
.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b";
    align-items: center;
    margin-bottom: 45px;
}
@media screen and (max-width: 895px) {
    .header {
        grid-template-areas: "b a";
        grid-template-columns: 1px 1fr;
        position: relative;
    }
}
.logo {
    grid-area: a;
    justify-self: start;
}
.header-nav__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}
@media screen and (max-width: 895px) {
    .header-nav__list {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        justify-items: start;
        position: absolute;
        background-color: hsla(35, 92%, 20%, 0.9);
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s;
    }
}
@media screen and (max-width: 895px) {
    .logo {
        justify-self: center;
    }
    .header-nav::before {
        content: "☰";
        font-size: 4rem;
        color: #ffffff;
    }
    .header-nav__item {
        margin: 8px;
    }
    .header-nav:hover .header-nav__list {
        visibility: visible;
        opacity: 1;
    }
}
.header-nav__link {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.22;
    color: white;
}
@media screen and (max-width: 895px) {
    .header-nav__link {
        font-size: 2.8rem;
    }
}
.header-nav__link:hover {
    font-weight: bold;
}
.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}
.hero__title {
    font-size: 6.4rem;
    font-weight: normal;
    line-height: 1.22;
    color: white;
    margin-bottom: 26px;
}
.hero__text {
    font-size: 2.4rem;
    font-weight: normal;
    line-height: 1.2;
    color: white;
    margin-bottom: 106px;
}
.hero__link {
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 1.22;
    color: white;
    text-decoration: underline;
}
@media screen and (max-width: 895px) {
    .hero__title,
    .hero__text,
    .hero__link {
        text-align: center;
    }
}
