.hero {
    padding-top: 93px;
    padding-bottom: 50px;
    min-height: 100vh;
    background: linear-gradient(to right, rgba(198, 108, 73, 0.3), rgba(198, 108, 73, 0.3)),
        url(../img/Hero.jpg) no-repeat;
    background-size: cover;
}
.logo {
    width: 116px;
    height: 29px;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b";
    align-items: center;
    margin-bottom: 145px;
}
header a {
    grid-area: a;
    justify-self: start;
}
.menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}
.menu li > a {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.22;
    color: white;
}
.menu li > a:hover {
    font-weight: bold;
}
.hero-content > h1 {
    font-size: 6.4rem;
    font-weight: normal;
    line-height: 1.22;
    color: white;
    margin-bottom: 26px;
}
.hero-content > p {
    font-size: 2.4rem;
    font-weight: normal;
    line-height: 1.2;
    color: white;
    margin-bottom: 106px;
}
.hero-content > a {
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 1.22;
    color: white;
    text-decoration: underline;
}
