.portfolio__title {
    margin-bottom: 86px;
}
@media screen and (max-width: 895px) {
    .portfolio__title {
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 700px) {
    .portfolio__title {
        margin-bottom: 19px;
    }
}
.portfolio {
    padding-top: 93px;
    padding-bottom: 139px;
}
@media screen and (max-width: 895px) {
    .portfolio {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
.portfolio__title-2 {
    color: #333333;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.39;
    margin-bottom: 48px;
}
@media screen and (max-width: 895px) {
    .portfolio__title-2 {
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 895px) {
    .portfolio__title-2 {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.78;
        margin-bottom: 15px;
    }
}
.portfolio__wrapper {
    display: grid;
    grid-template-columns: 42% 1fr;
}
@media screen and (max-width: 895px) {
    .portfolio__wrapper {
        grid-template-columns: 1fr;
    }
}
.portfolio__text {
    padding-right: 25%;
    display: grid;
    grid-template-rows: 1fr 24px;
}
@media screen and (max-width: 1200px) {
    .portfolio__text {
        padding-right: 10%;
    }
}
@media screen and (max-width: 895px) {
    .portfolio__text {
        padding: 0 0;
    }
}
.portfolio__imgs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 30px;
    grid-template-areas:
        "a a a b b"
        "a a a b b"
        "c c c b b"
        "c c c d d"
        "c c c d d";
}
@media screen and (max-width: 700px) {
    .portfolio__imgs {
        gap: 13px;
    }
}
.portfolio__img-1 {
    grid-area: a;
    height: 100%;
}
.portfolio__img-2 {
    grid-area: b;
    height: 100%;
}
.portfolio__img-3 {
    grid-area: c;
    height: 100%;
}
.portfolio__img-4 {
    grid-area: d;
    height: 100%;
}
@media screen and (max-width: 895px) {
    .portfolio__arrows {
        visibility: hidden;
    }
}
