.portfolio__title {
    margin-bottom: 86px;
}
.portfolio {
    padding-top: 93px;
    padding-bottom: 139px;
}
.portfolio__title-2 {
    color: #333333;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.39;
    margin-bottom: 48px;
}
.portfolio__wrapper {
    display: grid;
    grid-template-columns: 475px 1fr;
}
.portfolio__text {
    padding-right: 125px;
    display: grid;
    grid-template-rows: 1fr 24px;
}
.portfolio__imgs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 30px;
    grid-template-areas:
        "a a a b b"
        "a a a b b"
        "c c c b b"
        "c c c d d"
        "c c c d d";
}
.portfolio__img-1 {
    grid-area: a;
    height: 100%;
}
.portfolio__img-2 {
    grid-area: b;
    height: 100%;
}
.portfolio__img-3 {
    grid-area: c;
    height: 100%;
}
.portfolio__img-4 {
    grid-area: d;
    height: 100%;
}
