html {
    font-family: "Libre Franklin", sans-serif;
    font-style: normal;
    font-size: 10px;
}
.container {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}
.about {
}
.skills {
}
.skills-wrapper {
}
.skills-wrapper-name {
}
.skills-wrapper-skills {
}
.portfolio {
}
.arrows {
}
.arrow-left {
}
.arrow-right {
}
.portfolio-img {
}
.get-in-touch {
}
.arrow-top {
}
